.itemsContenedor{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 30px 30px 30px;
    align-items: center;
}

.buttonDetalle{
    background-color: rgb(128, 80, 80);
    color: azure;
    text-decoration: none;
    border-style: none;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 20px;
}