
.nav-main{
    display: flex;
    flex-direction: column;
}
.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
}
.styleLink{
    color: rgb(252, 247, 247);
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
