.itemCount{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
 .buttonDetail{
    background-color: rgb(128, 80, 80);
    color: azure;
    border-width: 0px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 5px 5px 5px 5px;
 }